# IMB Python Notes

### Version Check
- This is how you can check what python version you are running

In [50]:
import sys
print(sys.version)

3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]

### Types
- The basic types are intagers , Floats and Strings
- You can verify the type by using the type() expression

In [3]:
#int
8

8

In [4]:
#float
23.223

23.223

In [5]:
#string
print("Hello World")

Hello World

#### Type casting
You can change the value of the type by type casting

In [18]:
# Int to float
float(7)

7.0

In [8]:
# float to int (Before careful with this, you will clip the number)
int(5.6)

5

In [9]:
#Str to float ect
float('1')

1.0

In [10]:
# str to int
str(7)

'7'

In [11]:
# You can also cast Booleans

In [13]:
# true to str
str(True)

'True'

In [14]:
int(True)

1

In [51]:
type(7)

int

### Expressions and Variables
Expressions describe a type of operation the computers perform. Expressions are operations the python performs.
- Example: (43 + 60 +16 + 41). We  call the numbers __operands__ and the math symbols are called __operators__
- Python follows mathematical conventions when performing mathematical expressions

In [15]:
float(False)

0.0

#### Expressions

In [19]:
#addition
5 + 10

15

In [20]:
#Subtraction
6-9

-3

In [21]:
#division 
13/24

0.5416666666666666

In [22]:
#multiplication
3*4

12

In [35]:
# You can also use // to divide and result in a rounded result
print(25//6)
print(25/6)

4
4.166666666666667

In [37]:
11//2

5

#### Variables
- We use variables to store values
- It's good practice to use meaningful variable names; so, you don't have to keep track of what the variable is doing

In [38]:
my_variable = 1

In [40]:
print(my_variable)

1

In [43]:
my_variable = 24 +13 +123

In [46]:
my_variable = my_variable * 2

In [47]:
print(my_variable)

640

In [49]:
# Example : We want to convert a time colume in a data set. The current value is set in hours and we want to convert to mins

total_min = 43 +23 + 24
total_hour = total_min /60
print(total_hour)

1.5

### String Operations
- A string is contained within two quotes
- Can also use single quotes
- Can also be special charaters
- Can also be digits
It is helpful to think of a string as an ordered sequence. Each element in the squence can be accessed using indexing starting at 0

In [57]:
# Two quotes
"Hello world"

'Hello world'

In [58]:
# Single quotes
'Hello world'

'Hello world'

In [59]:
#Special charaters
"$7(#$&(*"

'$7(#$&(*'

In [56]:
# Digits
"3453514"

'3453514'

#### Indexing

In [61]:
# Indexing
# Name = Michael Jackson
#        0123456 7 8910111211314
name = "michael jackson"

In [62]:
# You can index by calling the variable and brackets, then specifiy the location of the letter
name[0]

'm'

In [63]:
name[1]

'i'

In [64]:
# Can also use negative indexing
# negative Indexing
# Name = Michael Jackson
#        -15|-14|-13|-12|-11|-10|-9| |-7|-6|-5|-4|-3|-2|-1
name = "michael jackson"

In [65]:
name[-4]

'k'

In [66]:
name[-15]

'm'

#### Slicing
- We can select a range of elements

In [67]:
name[2:8]

'chael '

In [68]:
# If we also input a Stride value

In [69]:
#The two indicates we select every secound variable
name[::2]

'mcaljcsn'

In [70]:
# We can also incorprate slicing
name[0:5:2]

'mca'

In [71]:
# can use the length command len() to find the length of the tuple or string

In [72]:
len(name)

15

#### Concatenate or combine strings

In [75]:

statement = name + " is cool"

In [76]:
print(statement)

michael jackson is cool

In [73]:
len("Hello World")

11

In [77]:
#### replicate the value of a string

In [78]:
name * 3

'michael jacksonmichael jacksonmichael jackson'

In [79]:
"hello world" * 3

'hello worldhello worldhello world'

#### Escape sequences
- \ are meant to process escape sequences
- escape sequences are strings that are difficult to input

In [80]:
# /n represents enter
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [81]:
# /t represents Tab
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [82]:
# if you want to and a backslash to your string 
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best

#### String Methods
- Strings are sequences and as such, have apply methods that work on lists and tuples. Strings also have a second set of methods that just work on strings.
- When an method is applied it creates a new string ie. A + Method = B

In [1]:
a = "thriller is the sixth studio album"
print(a)

thriller is the sixth studio album

##### Upper

In [2]:
# Using upper to capitilze all charaters in the string
b = a.upper()
print(b)

THRILLER IS THE SIXTH STUDIO ALBUM

##### Replace

In [5]:
# Replace. You input the part of the string you want to change. For example replacing 'michael with 'janet'
a = 'Michael jackson is the best'
b = a.replace('Michael','Janet')
print(b)

Janet jackson is the best

##### Find

In [7]:
# We use find to locate substrings. It prints the value of the START of the substring. If nothing is found it will result in a -1

In [10]:
Name = "Michael Jackson"
Name.find('el')

5

In [13]:
Name.find('Jack')

8

In [20]:
Name.find('$$')

-1

### Tuples
- Tubles are and ordered sequence
- Here is a Tuple "Ratings"
- Tuples are written as comma-separated elements within parentheses
- ex Ratings= (10,9,8,7,6,5,4,3,2,1,)
- Types of tubles are string, int, and float
- ex tuple1= ('disco',10,1.2)
- Tuples are __IMMUTABLE__

In [21]:
tuple1= ("disco",10,1.2)

In [22]:
type(tuple1)

tuple

In [23]:
# You can index a tuple in the same way you can index strings
tuple1[1]

10

In [24]:
# you can also use negative index
tuple1[-3]

'disco'

In [25]:
# you can concatenate or combine tuples by adding them

In [29]:
print(tuple1 + ("hard rock",4,3.2))

('disco', 10, 1.2, 'hard rock', 4, 3.2)

In [30]:
# slicing
tuple1[:3]

('disco', 10, 1.2)

In [31]:
tuple1[1:3]

(10, 1.2)

In [34]:
# can also use the len() to get the legnth of the tuple
len(tuple1)

3

In [43]:
# If you would like to maniplute a tuple, you need to assign it to a new variable
ratings = (10,5,4,5,6,7,2)
ratings1 = sorted(ratings)
print(ratings1)

[2, 4, 5, 5, 6, 7, 10]

#### Nesting
- You can index in that standard way
- You can also index the subindex ex. nt[3][0]
- You can also inex futher nt[2][0][1]

In [57]:
nt = (1,2,("Pop","rock"), (3,4), ("disco", (1,2)))

In [58]:
nt[3]

(3, 4)

In [59]:
nt[1]

2

In [60]:
nt[3][0]

3

In [62]:
nt[2][0][1]

'o'

### Lists
- Lists are ordered sequences
- Here is a list "L"
- A list is represented with square brackets
- List are __MUTABLE__
- L = ["michael jackson", 10.1, 1992]
- Lists can contain str, int, floats, other lists, tuples and other data structures

In [2]:
# standard indexing applies to lists
L = ["Michael Jackson", 10.1, 1992]
L[0]

'Michael Jackson'

In [3]:
L[0][:7]

'Michael'

In [5]:
# you can concatinate lists by adding them
L1 = L + [10,45,"String"]
print(L1)

['Michael Jackson', 10.1, 1992, 10, 45, 'String']

In [15]:
# You can apply the method extend
L.extend(["pop",10])
print(L)
len(L)

['Michael Jackson', 10.1, 1992, 'pop', 10, 'pop', 10, ['rocks', 'pop'], ['rocks', 'pop'], 'pop', 10, 'pop', 10, ['rocks', 'pop'], 'pop', 10]

16

In [17]:
# You can apply append, which only adds 1 element to the list
L.append(["rocks","pop"])
print(L)

['Michael Jackson', 10.1, 1992, 'pop', 10, 'pop', 10, ['rocks', 'pop'], ['rocks', 'pop'], 'pop', 10, 'pop', 10, ['rocks', 'pop'], 'pop', 10, ['rocks', 'pop'], ['rocks', 'pop']]

In [18]:
len(L)

18

In [23]:
# As lists are mutable, you can change them in the following way
a = ["disco",10,1.2]
print(a)

['disco', 10, 1.2]

In [25]:
a[0]= "Hardrock"
print(a)

['Hardrock', 10, 1.2]

In [26]:
# Can also use the Delete method del() to delete elements
del(a[0])
print(a)

[10, 1.2]

In [27]:
# Can convert a string to a list using the method split()
"hard rock".split()

['hard', 'rock']

In [30]:
"When you split a string, it splits it at the spaces".split()

['When',
 'you',
 'split',
 'a',
 'string,',
 'it',
 'splits',
 'it',
 'at',
 'the',
 'spaces']

In [32]:
# We can use the split function to split the list at a delimiter
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

#### Aliasing

In [ ]:
# Aliasing is mulitple items refering to the same object

In [33]:
A = ["hardrock",10,1.2]
B= A

In [34]:
B[0]

'hardrock'

In [35]:
A[0] = "Banana"

In [36]:
B[0]

'Banana'

In [37]:
B[0] = "Soft Rock"

In [38]:
A[0]

'Soft Rock'

#### Clone
- You can clone a list with the following syntax, B=[:]

In [42]:
A=["Hard Rock",10,1.2]
B=A[:]

In [43]:
A[0]

'Hard Rock'

In [44]:
B[0]

'Hard Rock'

In [45]:
A[0] = "Soft Rock"

In [47]:
print(A)

['Soft Rock', 10, 1.2]

In [48]:
print(B)

['Hard Rock', 10, 1.2]

In [50]:
# you can use help(A) to get info of the list

In [62]:
A.extend("Love")

In [63]:
print(A)

['Soft Rock', 10, 1.2, 10, 14, 'Hi', 'Love', 'Love', 'Love', 'Love', 'L', 'o', 'v', 'e']

In [65]:
A.index(10)

1

### Dictionaries
- A type of collection in python
- A list is made up of index/element and a dictionary is made up of __KEY__ __VALUE__ __PAIRS__
- Dictionaries are denoted with curly Brackets
- The __keys__ have to be __immutable and unique__
- The values can be immutable, mutable and duplicates
- Each key and value pair is separated by a comma

In [67]:
# Below is an example of a dictionary 
mydict = {"love": 10, "Hurts": 6, "Alot":10}

In [71]:
# Indexing is down by keys
mydict["Hurts"]

6

In [76]:
# you can add a new item to the dict as below
mydict["gone"]= 15
print(mydict)

{'love': 10, 'Hurts': 6, 'Alot': 10, 'gone': 15}

In [77]:
# You can delete an entry as follows
del(mydict["gone"])
print(mydict)

{'love': 10, 'Hurts': 6, 'Alot': 10}

In [78]:
# you can verify is an element is in the dictionary by using the In command
"love" in mydict

True

In [79]:
# you can look at the keys and values by using method below
mydict.values()

dict_values([10, 6, 10])

In [80]:
mydict.keys()

dict_keys(['love', 'Hurts', 'Alot'])

### Sets
- Sets are a type of collection
- You can input different python types
- Unlike lists and tuples they are unordered
- Sets only have unique elements
- This means there is only one of a particular element in a set

In [82]:
# When creading a set, dup values will be consoldated to one entry

set1 = {"pop","rock","soul","hard rock","rock","disco"}
print(set1)

{'rock', 'hard rock', 'soul', 'pop', 'disco'}

In [84]:
# you can convert a list to a set by passing it through the fuction set. This is call typecasting
album_list = ["Michael Jackson","Thriller","Thriller",1982]
album_set = set(album_list)
print(album_set)

{'Michael Jackson', 1982, 'Thriller'}

#### Set Operations

In [85]:
A = {"Thriller","Back in Black","AC/DC"}

In [86]:
# you can add to the set by using A.add("NSYNC")
A.add("NSYNC")
print(A)

{'NSYNC', 'AC/DC', 'Thriller', 'Back in Black'}

In [87]:
# you can remove with A.remove("NSYNC")
A.remove("NSYNC")
print(A)

{'AC/DC', 'Thriller', 'Back in Black'}

In [88]:
# you can verify if an element is in a set with in
"AC/DC" in A

True

In [ ]:
#

#### Mathematical Set Operations

In [90]:
album_set_1 = {"AC/DC","Back in Black","Thriller"}
album_set_2 = {"AC/DC","Back in Black","The Dark Side of the Moon"}
album_set_3 = album_set_1 & album_set_2
print(album_set_3)

{'AC/DC', 'Back in Black'}

In [91]:
# you can find the union of a set by using the follow 
album_set_1.union(album_set_2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [92]:
# We cna check if a set is a subset using the issubset method
album_set_3.issubset(album_set_1)

True

In [93]:
len(("disco",10))

2

### Conditons and Branching
- operand ---> Comparison operators ---> Boolean

In [2]:
# Equal
1 == 1

True

In [3]:
# Less than
1 < 5

True

In [4]:
# Greater than
5 > 1

True

In [6]:
# Greater than or equal to
5 >= 4

True

In [7]:
# Less than or equal to
4 <= 6

True

In [9]:
# not equal

3 != 4

True

#### Condidional Statements
- if
- else
- elif

In [18]:
# If statement
age = 19
if age>18:
    print("you can enter")
print("Move on")

you can enter
Move on

In [19]:
# Else Statement
if age > 18:
    print("you can enter")
else: 
    print("go see meat loaf")
print("move one")

you can enter
move one

In [20]:
# elif statment
if age > 18:
    print("you can enter")
elif age==18:
    print("go see pink floyd")

else: 
    print("go see meat loaf")
print("move one")

you can enter
move one

### Logic Operators
- take boolean values and creates different boolean values
- OR
- AND

In [23]:
# Not operator
not(True)

False

In [24]:
not(False)

True

In [1]:
# The OR operator takes in the town values and produces a new Boolean value. It is only false when both inputs are false
True or False

True

In [2]:
False or True

True

In [3]:
False or False

False

In [4]:
False or True

True

In [10]:
# Example
album_year = 1990
if album_year < 1980 or album_year >1989:
    print("The Album was made in the 70s's or 90's")
else:
    print("The Album was made in the 1980s")

The Album was made in the 70s's or 90's

In [11]:
# AND is only True when both inputs are True
True and False

False

In [12]:
True and True

True

In [13]:
False and False

False

In [16]:
# example
album_year = 1983
if album_year > 1979 and album_year < 1990:
    print("The album was made in the 80s")

The album was made in the 80s

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (690182220.py, line 1)

In [19]:
1==1

True

### Loops
- for loops
- while loops

#### Range
- the range outputs an ordered sequence as a list
- if the input is postive interager, the result is a sequence and contains the same number of elements as the input
- If the range function has two inputs where the first input is smaller than the second input, the output is a sequence that starts at the first input

In [21]:
range(6)

range(0, 6)

In [24]:
test =range(10,15)
type(print(test))

range(10, 15)

NoneType

In [25]:
list(range(5,10))

[5, 6, 7, 8, 9]

#### FOR Loop
- For loops will run for a set number of times

In [1]:
squares = ["red","yellow","green"]
for square in squares:
    print(square)

red
yellow
green

In [14]:
for x,square in enumerate(squares):
    print(x,square)
type(square)

0 red
1 yellow
2 green

str

#### While Loop
- While loops will only run with an condition is met

In [16]:
squares = ['orange','orange','purple','orange','blue']
new_squares = []
i = 0

while(squares[i]=='orange'):
    new_squares.append(squares[1])
    i = i +1

In [20]:
dates = [1982,1980,1973]
n = len(dates)

for i in range(n):
    print(dates[i])

1982
1980
1973

In [21]:
sum = 0
for x in [1,2,3,4]:
    sum = sum + x
    print(sum)

1
3
6
10

In [23]:
sum = 1
for final in [3,6,4,8,7]:
    sum = final * sum
    print(sum)

3
18
72
576
4032

In [24]:
test = [2,3,4,6]
print(test[0])

2