# IMB Python Notes

### Version Check
- This is how you can check what python version you are running

In [50]:
import sys
print(sys.version)

3.11.4 | packaged by Anaconda, Inc. | (main, Jul  5 2023, 13:38:37) [MSC v.1916 64 bit (AMD64)]

### Types
- The basic types are intagers , Floats and Strings
- You can verify the type by using the type() expression

In [3]:
#int
8

8

In [4]:
#float
23.223

23.223

In [5]:
#string
print("Hello World")

Hello World

#### Type casting
You can change the value of the type by type casting

In [18]:
# Int to float
float(7)

7.0

In [8]:
# float to int (Before careful with this, you will clip the number)
int(5.6)

5

In [9]:
#Str to float ect
float('1')

1.0

In [10]:
# str to int
str(7)

'7'

In [11]:
# You can also cast Booleans

In [13]:
# true to str
str(True)

'True'

In [14]:
int(True)

1

In [51]:
type(7)

int

### Expressions and Variables
Expressions describe a type of operation the computers perform. Expressions are operations the python performs.
- Example: (43 + 60 +16 + 41). We  call the numbers __operands__ and the math symbols are called __operators__
- Python follows mathematical conventions when performing mathematical expressions

In [15]:
float(False)

0.0

#### Expressions

In [19]:
#addition
5 + 10

15

In [20]:
#Subtraction
6-9

-3

In [21]:
#division 
13/24

0.5416666666666666

In [22]:
#multiplication
3*4

12

In [35]:
# You can also use // to divide and result in a rounded result
print(25//6)
print(25/6)

4
4.166666666666667

In [37]:
11//2

5

#### Variables
- We use variables to store values
- It's good practice to use meaningful variable names; so, you don't have to keep track of what the variable is doing

In [38]:
my_variable = 1

In [40]:
print(my_variable)

1

In [43]:
my_variable = 24 +13 +123

In [46]:
my_variable = my_variable * 2

In [47]:
print(my_variable)

640

In [49]:
# Example : We want to convert a time colume in a data set. The current value is set in hours and we want to convert to mins

total_min = 43 +23 + 24
total_hour = total_min /60
print(total_hour)

1.5

### String Operations
- A string is contained within two quotes
- Can also use single quotes
- Can also be special charaters
- Can also be digits
It is helpful to think of a string as an ordered sequence. Each element in the squence can be accessed using indexing starting at 0

In [57]:
# Two quotes
"Hello world"

'Hello world'

In [58]:
# Single quotes
'Hello world'

'Hello world'

In [59]:
#Special charaters
"$7(#$&(*"

'$7(#$&(*'

In [56]:
# Digits
"3453514"

'3453514'

#### Indexing

In [61]:
# Indexing
# Name = Michael Jackson
#        0123456 7 8910111211314
name = "michael jackson"

In [62]:
# You can index by calling the variable and brackets, then specifiy the location of the letter
name[0]

'm'

In [63]:
name[1]

'i'

In [64]:
# Can also use negative indexing
# negative Indexing
# Name = Michael Jackson
#        -15|-14|-13|-12|-11|-10|-9| |-7|-6|-5|-4|-3|-2|-1
name = "michael jackson"

In [65]:
name[-4]

'k'

In [66]:
name[-15]

'm'

#### Slicing
- We can select a range of elements

In [67]:
name[2:8]

'chael '

In [68]:
# If we also input a Stride value

In [69]:
#The two indicates we select every secound variable
name[::2]

'mcaljcsn'

In [70]:
# We can also incorprate slicing
name[0:5:2]

'mca'

In [71]:
# can use the length command len() to find the length of the tuple or string

In [72]:
len(name)

15

### Concatenate or combine strings

In [75]:

statement = name + " is cool"

In [76]:
print(statement)

michael jackson is cool

In [73]:
len("Hello World")

11

In [77]:
#### replicate the value of a string

In [78]:
name * 3

'michael jacksonmichael jacksonmichael jackson'

In [79]:
"hello world" * 3

'hello worldhello worldhello world'

#### Escape sequences
- \ are meant to process escape sequences
- escape sequences are strings that are difficult to input

In [80]:
# /n represents enter
print("Michael Jackson \n is the best")

Michael Jackson
 is the best

In [81]:
# /t represents Tab
print("Michael Jackson \t is the best")

Michael Jackson 	 is the best

In [82]:
# if you want to and a backslash to your string 
print("Michael Jackson \\ is the best")

Michael Jackson \ is the best